USE [Test]
GO
/****** Object:  Table [dbo].[C_B_IRAN]    Script Date: 23.12.2018 21:58:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_B_IRAN](
	[date] [date] NOT NULL,
	[USD] [float] NULL,
	[GBP] [float] NULL,
	[CHF] [float] NULL,
	[SEK] [float] NULL,
	[NOK] [float] NULL,
	[DKK] [float] NULL,
	[INR] [float] NULL,
	[AED] [float] NULL,
	[KWD] [float] NULL,
	[PKR100] [float] NULL,
	[JPY100] [float] NULL,
	[HKD] [float] NULL,
	[OMR] [float] NULL,
	[CAD] [float] NULL,
	[ZAR] [float] NULL,
	[TRY] [float] NULL,
	[RUB] [float] NULL,
	[QAR] [float] NULL,
	[IQD100] [float] NULL,
	[SYP] [float] NULL,
	[AUD] [float] NULL,
	[SAR] [float] NULL,
	[BHD] [float] NULL,
	[SGD] [float] NULL,
	[LKR10] [float] NULL,
	[NPR100] [float] NULL,
	[AMD100] [float] NULL,
	[LYD] [float] NULL,
	[CNY] [float] NULL,
	[THB100] [float] NULL,
	[MYR] [float] NULL,
	[KRW1000] [float] NULL,
	[EUR] [float] NULL,
	[KZT100] [float] NULL,
	[AFN] [float] NULL,
	[BYN] [float] NULL,
	[AZN] [float] NULL,
	[TJS] [float] NULL,
	[VEF] [float] NULL,
 CONSTRAINT [PK_C_B_IRAN] PRIMARY KEY CLUSTERED 
(
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
