USE [Test]
GO
/****** Object:  Table [dbo].[Daily]    Script Date: 23.12.2018 21:59:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daily](
	[date] [date] NOT NULL,
	[currency] [nvarchar](50) NOT NULL,
	[rate] [float] NULL,
 CONSTRAINT [PK_Daily] PRIMARY KEY CLUSTERED 
(
	[date] ASC,
	[currency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Daily] ([date], [currency], [rate]) VALUES (CAST(N'1998-01-05' AS Date), N'', 0)
INSERT [dbo].[Daily] ([date], [currency], [rate]) VALUES (CAST(N'1998-01-06' AS Date), N'', 0)
INSERT [dbo].[Daily] ([date], [currency], [rate]) VALUES (CAST(N'1998-01-07' AS Date), N'', 0)
GO
